.App {
  position: relative;
  overflow: hidden;
  height: 100vh;
  margin: 0; /* Ensure no margin on body to avoid scroll */
}

.background-video {
  position: fixed; /* Use fixed to cover the entire viewport */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1; /* Ensure the video is behind other content */
}

.video-background {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the video covers the container */
}

.content {
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 1; /* Ensure content appears above the video */
  height: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none; /* Hide scrollbar for Firefox */
  scroll-behavior: smooth; /* Add smooth scrolling */
  scroll-margin-bottom: 50px; /* Add space at the bottom of the page */
}
  