.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Full viewport height */
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
  }
  
  .welcome-message {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #ffffff;
  }
  
  .sub-text {
    font-size: 1.25rem;
    margin-bottom: 2rem;
    color: hsl(0, 0%, 100%);
    text-align: center;
    max-width: 600px; 
  }
  
  .actions {
    display: flex;
    gap: 1rem;
  }
  
  .btn {
    padding: 1rem 2rem;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .discover-btn {
    background: #007bff;
  }
  
  .discover-btn:hover {
    background: #0056b3;
  }
  
  .create-btn {
    background: #28a745;
    
  }
  
  .create-btn:hover {
    background: #1e7e34;
  }
  
  .participate-btn {
    background: #ffc107;
  }
  
  .participate-btn:hover {
    background: #e0a800;
  }
  