/* 

.card {
    border : 2px solid black;
    background-color: rgba(182, 191, 199, 0.877);
    border-radius: 20px;

    margin: 0 20px;
    margin-top: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card img {
    justify-content: center;
} */

.card {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s;
    width: 300px;
    margin: 10px;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card_image {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .card_content {
    padding: 20px;
  }
  
  .card_title {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
  }
  
  .card_date, .card_location {
    font-size: 0.9em;
    margin-bottom: 5px;
    color: #888;
  }
  
  .card_description {
    font-size: 1em;
    color: #555;
  }
  