body {
  margin: 0;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

html {
  height: 100%;
  overflow-y: auto; /* Ensure vertical scrolling if needed */
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 0 10px 5px rgba(10, 160, 122, 0.5);
  transition: 0.3s ease-in-out;
  text-align: center; /* Center text inside the card */
  margin: 10px;
}


.card img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-bottom: 1.5px solid #ecedec;
  border-radius: 20px 20px 0 0;
}

.card h2 {
  margin: 20px 0;
  font-size: 1.5em;
  color: #151717;
}

.card p {
  color: #151717;
  margin-bottom: 20px;
}

.card button {
  background-color: #151717;
  border: none;
  color: white;
  font-size: 15px;
  font-weight: 500;
  border-radius: 10px;
  height: 50px;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.card button:hover {
  background-color: #2d79f3;
}

/* Ensure .commentaire stays on top and visible */
.commentaire {
  position: relative;
  width: 100%;
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  background-color: #a3a3a3;
  z-index: 1000; /* Ensure it's above other content */
}

.contents {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  background-color: #f9f9f9;
}

