.event-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.event-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  height: 80vh; /* Adjust this value as needed */
  overflow-y: auto; /* Vertical scrolling only */
  overflow-x: hidden; /* Hide horizontal scrollbar */
  /* Hide scrollbar for WebKit browsers */
  scrollbar-width: none; /* For Firefox */
}

.event-list::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

.event-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
  padding-bottom: 20px; 
}

.event {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  width: 100%;
}

.event form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 450px;
  padding: 30px;
  background-color: #ffffff;
  border: 1.5px solid #ecedec;
  border-radius: 20px;
}

.event form label {
  color: #151717;
  font-weight: 600;
  margin-bottom: 5px;
  width: 100%;
  text-align: left;
}

.event form input {
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  border: 1.5px solid #ecedec;
  transition: 0.2s ease-in-out;
}

.event form input:focus {
  outline: none;
  border-color: #2d79f3;
}

.event form button {
  margin-top: 10px;
  background-color: #151717;
  border: none;
  color: white;
  font-size: 15px;
  font-weight: 500;
  border-radius: 10px;
  height: 50px;
  width: 100%;
  cursor: pointer;
}

.event h1 {
  margin-top: 20px;
  font-size: 2em;
  color: #151717;
  text-align: center;
}
