.event-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  height: 80vh; /* Adjust this value as needed */
  overflow-y: auto; /* Vertical scrolling only */
  overflow-x: hidden; /* Hide horizontal scrollbar */
  /* Hide scrollbar for WebKit browsers */
  scrollbar-width: none; /* For Firefox */
}

.event-list::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

.event {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  width: 100%;
}

.event form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 450px;
  padding: 30px;
  background-color: #ffffff;
  border: 1.5px solid #ecedec;
  border-radius: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.event form label {
  color: #151717;
  font-weight: 600;
  margin-bottom: 5px;
  width: 100%;
  text-align: left;
}

.event form input {
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  border: 1.5px solid #ecedec;
  transition: 0.2s ease-in-out;
}

.event form input:focus {
  outline: none;
  border-color: #2d79f3;
}

.event form button {
  margin-top: 10px;
  background-color: #151717;
  border: none;
  color: white;
  font-size: 15px;
  font-weight: 500;
  border-radius: 10px;
  height: 50px;
  width: 100%;
  cursor: pointer;
}

.event h1 {
  margin-top: 20px;
  font-size: 2em;
  color: #151717;
  text-align: center;
}
.event-info {
  padding: 20px; /* Add padding if necessary */
}

/* Responsive Styles */
@media (max-width: 768px) {
  .event {
    margin-top: 20px;
  }

  .event form {
    width: 95%;
    padding: 20px;
  }

  .event h1 {
    font-size: 1.5em;
  }

  .event form input {
    margin-bottom: 15px;
  }

  .event form button {
    height: 45px;
  }
}

@media (max-width: 480px) {
  .event {
    margin-top: 10px;
  }

  .event form {
    width: 100%;
    padding: 15px;
  }

  .event h1 {
    font-size: 1.2em;
  }

  .event form input {
    margin-bottom: 10px;
  }

  .event form button {
    height: 40px;
  }
}
