/* Container to hold everything centrally */
.profile-container {
  display: flex;
  flex-direction: column;
}

/* Styling for the heading and user details */
.profile-container h1 {
  font-size: 2em; /* Size of the title */
  color: #ffffff; /* Title color */
}

.user {
  margin-bottom: 40px; /* Space between user details and form */
  text-align: center; /* Center the text within the user details */
}

.user h2 {
  margin: 0; /* Remove default margin */
  font-size: 1.5em; /* Size of user name */
  color: #151717; /* Text color */
}

.user p {
  margin: 5px 0; /* Space around the email */
  font-size: 1.2em; /* Size of email text */
  color: #151717; /* Text color */
}

/* Profil form container styling */
.profil {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Full width of the container */
}

/* Profil form styling */
.profil form {
  display: flex;
  flex-direction: column;
  width: 450px; /* Match the width */
  padding: 30px;
  background-color: #ffffff;
  border: 1.5px solid #ecedec; /* Border similar to your .inputForm */
  border-radius: 20px;
}

/* Form element styling */
.profil form label {
  color: #151717;
  font-weight: 600;
  margin-bottom: 5px; /* Space between label and input */
}

.profil form input {
  margin-bottom: 20px; /* Space between inputs */
  padding: 10px;
  width: 100%; /* Full width of the form */
  border-radius: 10px;
  border: 1.5px solid #ecedec;
  transition: 0.2s ease-in-out;
}

.profil form input:focus {
  outline: none;
  border-color: #2d79f3; /* Focus border color */
}

.profil form button {
  margin-top: 10px;
  background-color: #151717;
  border: none;
  color: white;
  font-size: 15px;
  font-weight: 500;
  border-radius: 10px;
  height: 50px;
  width: 100%;
  cursor: pointer;
}
